.section {
  padding: 4rem 0;

  h5,
  h5 + p {
    text-align: center;
  }

  h5 {
    font-size: 31px;
  }
  h6 {
    font-size: 20px;
  }

  &--hero {
    padding: 4rem 0;
    background-color: #ffd000;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 100%;

    &.no-background {
      background-image: none !important;
    }

    @media (min-width: 992px) {
      background-image: url("./../img/Circles.png");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 2rem 0 0;
    }

    h4 {
      font-size: 31px;
      font-weight: bold;
      color: white;

      & + p {
        font-size: 20px;
      }
    }
    h3 {
      font-size: 33px;
      color: #ff5757;
    }
  }

  &--steps {
    background-color: $offColor;
    color: #000000;
  }

  &--rights {
    text-align: center;

    h5 {
      font-size: 31px;
    }
  }

  &--footer {
    background-color: $mainColor;
    padding: 1rem 0;
    color: #ffffff;
    font-weight: 400;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a,
    span {
      color: #ffffff;
      font-size: 12px;
    }
  }
}
